<!DOCTYPE html>
<html>
<head>
<title>Full Name Display</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="nameController">
<h2>AngularJS Full Name Example</h2>
First Name:<input type="text" ng-model="firstName"><br><br>
Last Name:<input type="text" ng-model="lastName"><br><br>
<h3>Your Full Name:</h3>
<p>{{ firstName+""+lastName }}</p>
<script>
var app=angular.module("myApp",[]);
app.controller("nameController",function($scope){
$scope.firstName="";
$scope.lastName="";
});
</script>
</body>
</html>